<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
</head>
<style>
    error {
        display: none;
    }
</style>
<link rel="stylesheet" href="/styles/updatePass.css">

<body>
    <%- include("partials/header.ejs",{ myname:username,}) %>
<div class="wrapper">
        <form method="post" action="/user/password">
            <div class="form-field">

                <input type="text" name="new_password" id="new_password" placeholder="New password">
            </div>
            <div class="form-field">

                <input type="text" name="confirm_password" id="confirm_password" placeholder="confirm_password" placeholder="Confirm Password">
            </div>
            <div class="form-field">

                <button class="btn" type="button" onclick="validate_password()">RESET PASSWORD</button>
            </div>
        </form>

        <div id="error" class="error"></div>
    </div>
</body>
<script>
    var new_password = document.getElementById("new_password");
    var confirm_password = document.getElementById("confirm_password");
    var error = document.getElementById("error");

    function validate_password() {
        if (new_password.value === confirm_password.value) {
            console.log(event.target.form);
            event.target.form.submit();
            return;
        }
        else {
            console.error("CHeck Pass")
            error.innerHTML = "Both Password should be same";
            error.style.display = "block";


        }
    }
</script>

</html>