<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
</head>
<body>
    
    <form method="post" action="/user/updatePassword/<%= token %>">
        <input type="text" name="new_password" id="new_password" placeholder="New password">
        <input type="text" name="confirm_password" id="confirm_password" placeholder="confirm_password" placeholder="Confirm Password">

            <button type="submit" >RESET PASSWORD</button>
    </form>

    <% if(err) { %>
    
        <h4><%= err %> </h4>
        <% } %>
    
</body>
</html>